@import "../tailwind.css";
@reference "../tailwind.css";

.sleek {
    @apply transform-gpu transition-all duration-200 ease-in-out;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    @apply -translate-y-5 text-sm text-white/60;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before {
    @apply scale-x-100;
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 15px auto;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    background-color: #fff;
    border-radius: 50%;
    animation: scale50 1s infinite ease-in-out;
}
.loader::before {
    top: auto;
    bottom: 0;
    background-color: #fff;
    animation-delay: 0.5s;
}

*::-webkit-scrollbar {
    @apply w-2 bg-transparent;
}

*::-webkit-scrollbar-thumb {
    @apply rounded-xl bg-white/60;
}

*::-webkit-scrollbar-track {
    @apply rounded-xl bg-transparent;
}

.hide-scrollbar::-webkit-scrollbar {
    @apply h-0 bg-transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    @apply hidden;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes scale50 {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
